*{
    margin: 0 0 0 0;
}
body{
    background-image: url();
}

header{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #6697A0;
    height: 142px;
    align-items: center;
}

header nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 36px;
}

section h1{
    text-align: center;
}