*{
    margin: 0 0 0 0;
}
body{
    height: 130vh;
    position: absolute;
}

body#fon{
    background-image: url(../progect02/img/image\ 14fon-plus.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body#else{
    height: 350vh;
    /*position: absolute;
    background-image: url(../progect02/img/image\ 15pr30.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;*/
    background-image: url(../progect02/img/image\ 17fon.png);
    background-size: 550px, 500px;
    background-color: transparent 50%;
}

body#elses{
    height: 350vh;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #6697A0;
    height: 142px;
    align-items: center;
    padding-left: 210px;
    padding-right: 210px;
}

header nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 36px;
}

section#main h1#main{
    text-align: center;
    color: #0D333A;
    font-size: 100px;
    font-family: "Brush Script MT", cursive;
    line-height: 150px;
}

section#main p#q{
    margin-right: 365px;
    text-align: right;
    font-style: italic;
    color: #0D333A;
    font-size: 20px;
}

.art{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 11%;
    align-items: flex-start;
}

.art article h2{
    color: #0D333A;
    font-size: 48px;
    font-style: inherit;
}

.art article p {
    font-size: 18px;
}

.predloj{
    margin-left: 40px;
    margin-top: 40px;
}

.predloj h1{
    color: #103B43;
    font-family: Old Standard TT;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    margin-left: 95px;
}

.predloj h5{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-left: 75px;
}

.predloj h3{
    margin-top: 10px;
    font-family: Old Standard TT;
    font-style: italic;
    font-weight: normal;
    color: #103B43;
    font-size: 48px;
    margin-left: 53px;
}

.predloj article#use ul{
    margin-top: 23px;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.predloj img{
    margin-top: 15px;
}

.predloj article#use{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.predloj h3#else{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
}

.predloj .ideas {
    margin-right: 100px;
    margin-left: 40px;
    
}

.predloj .ideas h6{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #103B43;
    font-weight: normal;

}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
    height: 103px;
    background-color: #475E63;
    color: white;
}

div form{
    margin-top: 15px;
   margin-left: 48px;
}

form input{
    color: white;
    font-size: 36px;
    width: 1200px;
    height: 77.07px;
    border-radius: 42px;
    border: 0.5px solid #6D8C92;
    background: #6D8C92;
    transition: .3s linear;
}

form input:focus{
    border: 0.5px solid #6D8C92;;
    width: 1298px;
}
