/*{
    margin: 0;
    padding: 0;
    border: 0;
}

.page-body
nav{
    width: 1500px;
    margin: 0 auto;
}

nav:before{
    content: ' ';
    display: block;
    height: 80px;
    width: 100%;
    background-color: #6697A0;
    position: absolute;
    left: 0;
    z-index: -1;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80px;
}

.user-navigation{
    float: left;
}

.user-navigation a{
    color: black;
    display: block;
    height: 80px;
    padding: 0 50px;
    text-decoration: none;
    line-height: 80px;
    font-size: 28px;
}

.user-navigation a:hover{
    background: #86b1aa;
}

h1{
    color: #103B43;
    font-style: italic;
    font-family: Old Standard TT;
    font-weight: normal;
    font-size: 48px;
    margin-left: 95px;
    lin
}

a{
    text-decoration: none;
    color: black; 
    font-family: Old Standard TT;
    margin-left: 74px;
    line-height: 20px;
}

.sub-inf{
    text-decoration: none;
    color: black;
    font-family: Old Standard TT;
    line-height: 20px;
}

h3{
    color: #103B43;
    text-decoration: none;
    font-style: italic;
    font-family: Old Standard TT;
    font-size: 26px;
    margin-left: 53px;
    line-height: 60px;
}


.grid-wrapper{
    display: grid;
    grid-template-columns: 633px 640px;
    grid-template-rows: 375px 400px;
    margin-left: 67px;
    gap: 50px 50px;
}





.services-list{
    list-style-type: disc;
    font-family: Old Standard TT;
    font-size: 24px;
    list-style-type: disc;
    margin-left: 40px;
}
*/



























footer{
    background-size:cover;
    color: white;
   width:100%;
    background: #475E63;
    position: fixed; /* Фиксированное положение */
    left: 0; 
    bottom: 0; 





h2{
    overflow: hidden;
	color: transparent;
}