*{
    margin: 0;
    padding: 0;
    border: 0;
}

.page-body
nav{
    width: 1500px;
    margin: 0 auto;
}

nav:before{
    content: ' ';
    display: block;
    height: 80px;
    width: 100%;
    background-color: #6697A0;
    position: absolute;
    left: 0;
    z-index: -1;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80px;
}

.user-navigation{
    float: left;
}

.user-navigation a{
    color: black;
    display: block;
    height: 80px;
    padding: 0 50px;
    text-decoration: none;
    line-height: 80px;
    font-size: 28px;
}

.user-navigation a:hover{
    background: #86b1aa;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}

.main-h1{color: #0D333A;
    font-family: "Brush Script MT", cursive; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
font-style: italic;
font-weight: normal;
font-size: 100px;
line-height: 150px;
text-align: center
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navigation-wrapper{
    width: 100%;
    background-color: var(#475E63);
}
.features{
margin-bottom: 80px;

}
  
.user-navigation {
    color: var(--basic-white);
    display: flex;
}

.features-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 39px;
    margin-right: 39px;
}

.features-item {
    margin: 0px 10px;

}

h3{
color: #0D333A;
font-size: 30px;
}

h2{
    overflow: hidden;
	color: transparent;
}

.quote{ color:#0D333A;
    position: 3; 
    font-style: italic;
    margin-right: 365px;
    text-align: right;
}

.h1{
    color: #103B43;
    font-style: italic;
    font-family: Old Standard TT;
    font-weight: normal;
    font-size: 48px;
    margin-left: 95px;
}

a{
    text-decoration: none;
    color: black; 
    font-family: Old Standard TT;
    margin-left: 74px;
    line-height: 20px;
}

.sub-inf{
    text-decoration: none;
    color: black;
    font-family: Old Standard TT;
    line-height: 20px;
}

.services-h3{
    color: #103B43;
    text-decoration: none;
    font-style: italic;
    font-family: Old Standard TT;
    font-size: 26px;
    margin-left: 53px;
    line-height: 60px;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 633px 640px;
    grid-template-rows: 375px 400px;
    margin-left: 67px;
    gap: 50px 50px;
}

.services-list{
    list-style-type: disc;
    font-family: Old Standard TT;
    font-size: 24px;
    list-style-type: disc;
    margin-left: 40px;
}

.main-footer{
    padding: 10px;
    background-color: #475E63;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*position: relative;*/
 }

.footer-information{
    color: white;
    
}