*{
    margin: 0 0 0 0;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #6697A0;
    height: 142px;
    align-items: center;
}

header nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 36px;
}

section#main h1#main{
    text-align: center;
    color: #0D333A;
    font-size: 100px;
    font-family: "Brush Script MT", cursive;
    line-height: 150px;
}

section#main p#q{
    margin-right: 365px;
    text-align: right;
    font-style: italic;
    color: #0D333A;
    font-size: 20px;
}

section#art{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 11%;
    align-items: flex-start;
}

section#art article h2{
    color: #0D333A;
    font-size: 48px;
    font-style: inherit;
}

section#art article p {
    font-size: 18px;
}

section h1{
    color: #103B43;
    font-family: Old Standard TT;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
}




footer{
    display: grid;
    outline: 2px solid red;
    height: 103px;
    background-color: #475E63;
    color: white;
}

